.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#title{
  text-decoration: underline;
}

.addgameinfobody{
  justify-content: space-around;
  display: flex;
  font-size: 18px;
  max-width: 1000px;
}

.addgameinfobodyright{
  margin-left: 20px;
  display: flex;
}

.radiogender{
  margin-top: 6px;
}

#submit {
  color: white;
}

#reset {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  