.App {
  text-align: center;
}
      
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
      
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
      
.App-link {
  color: #61dafb;
}

#title{
  text-decoration: underline;
}

#details{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentDetails {
  border: 5px solid white;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

#first{
  background-color: darkblue;
}

#second{
  background-color: darkgreen;
}

#third{
  background-color: darkslategrey;
}

.message {
  border: 5px solid white;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  background-color: rebeccapurple;
}

#numofGame{
  font-size: 50px;
}
      
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  