.App {
  text-align: center;
}
  
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
  
.App-link {
  color: #61dafb;
}

#title{
  text-decoration: underline;
}

#dropdown{
  max-width: 1000px;
  width: 50%;
}

#myModal{
  left: 15%;
  top: 25%;
}

.gameDetails {
  max-width: 1000px;
}
  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 991px) {
  #myModal{
    top: 65%;
  }
}