.App {
  text-align: center;
}
        
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
        
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
        
.App-link {
  color: #61dafb;
}

#title{
  text-decoration: underline;
}
  
.headertable {
  max-width: 1000px;
}

.rowText {
  max-width: 500px;
}

#submit {
  float: left;
}
  
#reset {
  float: right;
}
        
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  